@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0;
  background-color: #f2f2f2;

  min-height: 100%;
}

.sedona-logo {
  position: absolute;
  left: 71px;
  top: 0;
}

.page-header-logo {
  display: block;
  padding: 0;
  margin: 0;
}

.page-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-header {
  color: #000000;
  background: #ffffff;
  padding: 0;
  padding-left: 200px;
  position: relative;
}

.navigation {
  display: flex;
  padding: 0;
  margin: 0;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  padding-left: 38px;
}

.navigation-item {
  padding: 20px 16px;
}

.navigation-user-list, navigation-link {
  min-width: 42px;
  min-height: 64px;
  padding: 0;
}

.navigation-user-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user-item {
  padding: 22px 12px;

}

.nav-icon {
  fill: #000000;
  position: absolute;
  top: 11px;
  right: 0;
  bottom: 0;
  left: -57px;
  margin: auto;
}

.nav-user-search {

}



.like-number {
  height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7DB54F;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  right: -9px;
  top: -10px;
  box-sizing: border-box;
  padding: 3px;
}

.nav-user-button {
  padding-left: 24px;
  padding-right: 6px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: #ffffff;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  bottom: -20px;
  left: 0;
  min-height: 2px;
  background-color: #756257;
  content: "";
  width: 100%;
}

.navigation-button {
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 92px;
  min-height: 20px;
  border-radius: 4px;
  padding: 8px 34px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;
}

.brown-button:hover {
  background-color: #615048;
}

.brown-button:focus {
  background-color: #615048;
}

.brown-button:active {
  background-color: #756157;
}

.brown-button:disabled {
  background-color: #E5E5E5;
}

.blue-button:hover {
  background-color: #68A2CA;
}

.blue-button:focus {
  background-color: #68A2CA;

}

.blue-button:active {
  background-color: #82B3D3;
}

.blue-button:disabled {
  background-color: #E5E5E5;
}

.like-green:hover {
  background-color: #6C9E42;
}

.like-green:focus {
  background-color: #6C9E42;
}

.like-gree:active {
  background-color: #7DB54F;
}

.like-green:disabled {
  background-color: #E5E5E5;
}

.main-index {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.main-container {
  flex-grow: 1;
}

.hero {
  width: 1200px;
  min-height: 485px;
  margin: 0 auto;

  background-image: url("../images/bottom-hero.svg"), url("../images/background/index-background.jpeg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-color: #f2f2f2;
  text-align: center;
  background-size: 100% auto, cover;
}

.hero-image {
  margin: 50px;
}

.reasons {
  padding-top: 70px;
}

.reasons-caption {
  margin: 0 auto 24px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  width: 625px;
}

.reasons-text {
  margin: 0 auto 90px;
  padding: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000000;
  width: 680px;
}

.reasons-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reasons-item {
 display: flex;
}

.reasons-container {
  width: 400px;
  padding-bottom: 118px;
  padding-top: 101px;
}

.reasons-image-container {
  height: 100%;
  width: 800px;
  overflow: hidden;
}

.reasons-img {
  height: 100%;
  width: auto;
  display: block;
}

.reasons-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 65px;
  padding: 0;
  width: 171px;
  text-align: center;
}

.reasons-description {
  margin: 0 auto;
  padding: 0;
  width: 232px;
}

.reasons-item--blue {
  background-color: #82B3D3;
  color: #ffffff;
  margin: 0 auto;

}

.reasons-item--blue .reasons-container {
  padding-top: 90px;
  padding-bottom: 110px;
}

.reasons-picture {
  width: 800px;
  height: 384px;
  background-color: #ffffff;
}

.small-city {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  margin: 0 auto;
}

.pretty-road {
  background-color:rgba(131, 179, 211, 0.2);
  color: #333333;
  margin: 0 auto;
}

.few-tourists {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
  margin: 0 auto;
}


.to-do-list {
  text-align: center;
  list-style-type: none;
  color: #333333;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.to-do-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 28px;
}

.to-do-text {
  margin: 0 auto;
  width: 230px;
}

.to-do-item {
  width: 400px;
  padding-top: 156px;
  padding-bottom: 85px;
  background-repeat: no-repeat;
  background-position: center 77px;
  text-align: center;
}

.hotels {
  background-image: url(../images/to-do-list/house-icon.svg);
  background-color: rgba(131, 179, 211, 0.12);
}

.food {
  background-color: #FFFFFF;
  background-image: url("../images/to-do-list/food-icon.svg");
}

.souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/to-do-list/gifts-icon.svg");
}

.book-hotels {
  background-color: #ffffff;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-top: 92px;
  padding-bottom: 105px;
}

.book-hotels-title {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 20px;
}

.book-hotels-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0 auto;
  text-align: center;
  width: 592px;
  margin-bottom: 63px;
}

.hotel-search-button {
  background-color: #756157;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 50px;
  width: 376px;
  min-height: 52px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "PT Sans", "Arial", sans-serif;
}

.page-footer {
  background-color: #ffffff;
  text-align: center;
}

.subscribe {
  width: 1200px;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe--background {
  background-image: url("../images/background/subscribe-background.jpeg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-size: cover;
  background-position: 0 0;
}

.subscribe-title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 20px;
  width: 496px;
}

.subscribe-title-black {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 20px;
  width: 496px;
}

.subscribe-text {
  margin: 0 auto 54px;
  padding: 0;
  width: 496px;
}

.subscribe-form {
  display: flex;
  margin: 0 auto;
  width: 684px;
}

.email-field {
  width: 486px;
  height: 52px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  padding-left: 20px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 4px 0 0 4px;
}

.email-field::placeholder {
  color:rgba(0, 0, 0, 0.6);
}

.subscribe-button {
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  width: 252px;
  min-height: 52px;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
  cursor: pointer;
}


.page-footer-container {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  padding: 0;
  padding-top: 48px;
}

.footer-social a {
  color: #000000;
  text-decoration: none;
}

.footer-social-svg {
  fill: #83B3D3;
}

.footer-social-link:hover .footer-social-svg {
  fill: #68A2CA;
}

.footer-social-link:focus .footer-social-svg {
  border: 3px solid #83B3D3;
  fill: #68A2CA;
}

.footer-social-link:active .footer-social-svg {
  fill: #E5E5E5;
}



.footer-social-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}


.footer-contacts-phone {
  text-decoration: none;
  color: #000000;
  width: 331px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-contacts-phone:hover {
  color: #756157;
}

.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: #756157;
}

.htmlacademy-icon:hover {
  background-color: #756157;
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  height: 100%;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close/ {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 575px;
}


.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 50px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  fill: #000000;
  border-radius: 50%;
  border: none;
  background-image: url("/images/controls/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  padding: 0;
  padding-bottom: 64px;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.field-group {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.form-label {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 0;
  padding-right: 18px;
  padding-top: 13px;
  margin: 0;
  min-width: 120px;
}

.modal-form {
  width: 440px;
  height: 52px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  padding-left: 20px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  background-image: url("/images/controls/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.modal-input {
  background-color: #f2f2f2;
  color: #000000;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  border: none;
  width: 31px;
  height: 48px;
}

.modal-input-number {
  box-sizing: border-box;
}

.modal-number-buttons {
  display: flex;
}

.modal-input::-webkit-inner-spin-button,
.modal-input::-webkit-inner-spin-button {
  display: none;
}

.check-in-text {
  color: #FF5757;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  padding-left: 163px;
  padding-top: 4px;

}

.check-out-text {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  padding-left: 163px;
  padding-top: 4px;
}

.number-people-wrapper {
  display: flex;
  flex-wrap: nowrap;
}


.minus-button, .plus-button {
  border: none;
}

.minus-button {
  width: 40px;
  height: 48px;
  background-image: url("/images/controls/button-minus.svg");
  background-repeat: no-repeat;
}

.plus-button {
  width: 40px;
  height: 48px;
  background-image: url("/images/controls/button-plus.svg");
  background-repeat: no-repeat;
}

.tooltip {
  position: absolute;
  margin-top: ;
  margin-left: ;
  width: ;
  min-height: 143px;
}

.modal-children-info {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  display: block;
  background-color: #83B3D3;
  border-radius: 50%;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding: 18px;
  border-radius: 10px;
  display: block;
  width: 256px;
}

.tooltip-text:before {
  content:"";
  background-image: url("/images/controls/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.modal-button {
  background-color: #82B3D3;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  width: 577px;
  min-height: 52px;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  text-align: center;
}

.main-inner {
  background-color: #ffffff;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.filters-container {
  background-color: #000000;
  background-image: url("../images/background/filter-background.jpeg");
  background-repeat: no-repeat;
  width: 1200px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  background-size: cover;
}

.hotels-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 70px;
}

.inner-title {
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  padding-left: 70px;
  padding-top: 35px;
  padding-bottom: 6px;
  margin: 0;
}

.breadcrumbs-list {
  color: #ffffff;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  padding-left: 21px;
  background-image: url("/images/controls/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link-home {
  background-image: url("/images/controls/home.svg");
  background-repeat: no-repeat;
  margin-left: 71px;
}

.catalog-products {
  padding-bottom: 55px;
}

.hotels-form {
  display: flex;
}

.hotels-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  padding-top: 40px;
}

.control {
  position: relative;
  display: block;
  padding-left: 16px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: -14px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  border-color:
}

.control-input:disabled + .control-mark {
  border-color:
}

.control-label {
  padding-left: 5px;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(75deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-25deg);
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.hotels-filter-group-range {
  padding-left: 143px;
}

.range {
  padding-top: 32px;
}

.range-scale {
  position: relative;
  height: 0;
  margin-bottom: 16px;
  background-color: #E6E6E6;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
  margin-top: 68px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.range-toggle:hover {

}

.range-toggle:active,
.range-toggle:focus {

}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: 7px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 143px;
  height: 48px;
  background: #f2f2f2;
  border-radius: 4px 0 0 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  border: none;
  box-sizing: border-box;
  padding: 0;
  padding-left: 21px;
  margin: 0;
}


.hotels-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 32px;
}

.hotels-filter-item {
  padding-bottom: 16px;
  padding-left: 16px;
}

.hotels-filter-group-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
}

.button-submit {
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 31px;
  padding: 8px 22px;
  min-width: 191px;
  min-height: 20px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  border: none;
  cursor: pointer;
}

.button-reset {
  background-color: transparent ;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  padding: 8px 22px;
  min-width: 191px;
  min-height: 20px;
  border: none;
  font-family: "PT Sans", sans-serif;
}

.sorting-container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 70px 0 40px;
  color: #000000;
  background-color: #ffffff;
}

.hotels-view-settings {
  display: flex;
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 0;

}

.sort {
  margin: 0;
  padding: 0;
}

.hotels-found {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-right: 200px;
  padding-top: 10px;
}

.hotels-found-number {
  padding-left: 10px;
}

.select-control {
  margin: 0;
  padding: 0;
  padding-left: 14px;
  width: 292px;
  height: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  appearance: none;
  background-image: url("/images/controls/arrow.svg");
  background-repeat: no-repeat;
  background-position: 256px;
}

.view-type-list {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.view-type-link {
  width: 48px;
  height: 48px;
  padding-right: 2px;
  position: relative;
  display: block;
}

.view-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  fill: #000000;

}

.view-type-item {
  border: 2px solid #E5E5E5;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  position: relative;
}

.view-type-item-current {
  border: 2px solid #000000;
}

.hotel-list {
  list-style-type: none;
  display: grid;
  padding: 0;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 37px;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}


.hotel-card-item {
  border: 1px solid #E6E6E6;
  padding: 20px;
  display: grid;
  border-radius: 4px;
}

.hotel-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 16px;
}

.hotel-price-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 16px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel {
  margin: 0;
  padding: 0;
}


.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: right;
}

.hotel-buttons-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 17px;
}

.hotel-card-button {
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 8px 26px;
  min-width: 88px;
  min-height: 20px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "PT Sans", sans-serif;

}

.like {
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 8px 22px;
  min-width: 88px;
  min-height: 20px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  border: none;
  cursor: pointer;
}

.like-green {
  background-color: #7DB54F;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 8px 20px;
  min-width: 88px;
  min-height: 20px;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  border: none;
  cursor: pointer;
}

.hotel-rating-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.rating-stars {
  background-image: url("/images/controls/blue-star.svg");
  background-repeat: repeat;
}

.rating-stars-four {
  width: 140px;
}

.rating-number {
  background-color: #f2f2f2;
  min-width: 140px;
  min-height: 37px;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  padding: 8px 22px;
  box-sizing: border-box;
}

.pagination {
  background-color: #ffffff;
  list-style-type: none;
  display: flex;
  margin-right: 8px;
  margin-left: 30px;
  margin-top: 75px;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 36px;
  font-weight: 700;
  font-size: 20;
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  margin-right: 8px;
  border-radius: 4px;
  text-align: center;
  padding: 11px;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-next {
  background-color: #ffffff;
  background-image: url("/images/controls/pagination-dots.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: -21px;
}

.page-footer-catalog {
  background-color: #f2f2f2;
  text-align: center;
}
